<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "MY RAILS APP", "#", id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to t("layouts.home"), "#" %></li>
                <li><%= link_to t("layouts.help"), "#" %></li>
                <li><%= link_to t("layouts.login"), "#" %></li>
                <% if I18n.locale == :en %>
                    <li><%= link_to "Tiếng Việt", locale: "vi" %></li>
                <% else %>
                    <li><%= link_to "English", locale: "en" %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>